:root {
  --color-hover: #3bd902;

  --white: #fff;
  --black: #000;

  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  

  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

svg {
  display: block;
  margin: 10px auto;
}

/* CELL */
.cell:hover {
  stroke: var(--black);
  stroke-opacity: .5;
  fill: var(--color-hover);
}

/* TICK */
.tick text {
  font-size: 1.2em;
  fill: var(--gray-40);
}

.tick line {
  stroke: var(--gray-20);
}

/* AXIS */
.axis-label {
  font-size: 5em;
  fill: var(--gray-30);
}

/* TITLE */
.title {
  font-size: 1.8em;
  fill: var(--gray-40);
}

/* DESCRIPTION */
.description {
  font-size: 1.5em;
  fill: var(--gray-30);
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  width: 150px;
  padding: 10px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .8);
  text-align: center;
 
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.tooltip-details {
  line-height: 1.7;
  text-align: left;
  align-self: flex-start;
}